html {
  box-sizing: border-box;
  font-family: 'Fira Mono', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  margin: 0;
  background: rgb(51, 51, 51);
  color: #333;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

body > * {
  width: 100%;
}

header {
  background: darkolivegreen;
  padding: 0 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 5px;
}

label {
  font-weight: bold;
}

nav#authBar,
nav#saveBar {
  display: flex;
  gap: 1rem;
}

#controls {
  padding: 1rem;
  background: #ecf0f1;
  border-radius: 0 0 10px 0;
}

#drawingCanvas {
  display: block;
  background: transparent;
  /* responsive canvas */
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background: darkolivegreen;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:active {
  opacity: 0.8;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

main.hidden, .modalBackground.hidden {
  display: none;
}

#varsContainer {
  display: flex;
  gap: 10px;
  flex-direction: column; /* in verticale */
  align-items: baseline;
  max-height: 20vh;
  overflow-y: scroll;
  padding-right: 10px;
  margin: 20px 0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 2px olive;
}

/* grid */
.varConfig {
  display: grid;
  grid-template-columns: 5fr 20fr 30fr 10fr 10fr;
  align-items: center; /* allinea variabile scritta agli elementi di configurazione */
  gap: 5px;
  justify-items: center;
}

.varConfig label {
  text-align: center;
  font-weight: bold;
  font-size: inherit;
}

#varsHeader {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
}

.varConfig>label::after {
  content: ":";
  padding-left: 2px;
}

.varConfig > * {
  width: 100%;
  box-sizing: border-box;
}

.stdContainer > * {
  width: 100%;
  box-sizing: border-box;
}

.stdContainer, .btnContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-items: stretch;
}

.btnContainer {
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding-top: 20px;
}

input[type="text"], input[type="number"], select {
  text-align: center;
  padding: 2px 8px;
  font-size: inherit;
  color: inherit;
  border-radius: 500px;
  border: 1px solid olivedrab;
  background-color:rgb(170, 186, 137);
}

input[type="color"] {
  border-radius: 5px;
  padding: 0;
  border: 2px solid bisque;
  width: auto;
  aspect-ratio: 1 / 1;
  justify-self: center;
}

input[type="checkbox"] {
 transform: scale(2);
}

.modalBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.362);
}

.modalContainer {
  background-color: beige;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 3px solid rgba(245, 245, 220, 0.386);
}

.modalContainer > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  width: 100%;
  gap: 30px 50px;
}

#confirmVarBtn {
  background-color: rgb(0, 139, 0);
}

#discardVarBtn {
  background-color: darkred;
}