html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgb(51, 51, 51);
  color: #333;
  display: grid;
  grid-template-columns: 1fr 10fr;
}

header {
  background: #2c3e50;
  padding: 0 1rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav#authBar,
nav#saveBar {
  display: flex;
  gap: 1rem;
}

#controls {
  padding: 1rem;
  background: #ecf0f1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#plantCanvas {
  display: block;
  background: transparent;
  /* responsive canvas */
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background: #9127ae;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:active {
  opacity: 0.8;
}

.hidden {
  opacity: 0;
}

#varsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
  min-height: fit-content;
  max-height: 20vh;
  overflow-y: auto;
}